@import "../../styles/mixins";

.section {
    margin-top: $spacingSection;
}

.content {
    @include gutterMargins;
    position: relative;
}

.title {
    @include fontSectionTitle;
    margin-bottom: $spacingSmall;
}
